<%@page contentType="UTF-8" import="java.util.*" import="org.endorodrigo.models.*"%>

<% 
List<Producto> productos = (List<Producto>)request.getAttribute("productos"); 
Optional<String> username = (Optional<String>))request.getAtrribute("username");
String mensajeRequest = (String) request.getAtrribute("messaje");
String mensajeApp = (String) getServletContext().getAtrribute("messaje");
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de productos</title>
</head>
<body>
<h1>Listado de productos</h1>
<%if(%username.isPresent(){%)%>
<div>Hola, <%username.get()%> Bienvenido!</b></div>
<%{%>
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>TYPE</th>
        <% if(username.isPresent(){%>
        <th>PRICE</th>
        <th>ADD</th>
        <%}%>
    </tr>
    <% for (Producto p : productos){ %>
    <tr>
        <th><%=p.getId()%></th>
        <th><%=p.getNombre()%></th>
        <th><%=p.getTipo()%></th>
        <% if(username.isPresent(){%>
        <th><%=p.getPrecio()%></th>
        <th><a href="<%=request.getContextPath()%>/carro/agregar?id=<%=p.getId()%>">Agregar</a> </th>
        <%}%>
    </tr>
    <% } %>
</table>
<p><%=mensajeApp%></p>
<p><%=mensajeRequest%></p>
</body>
</html>